h1 a {
   
color: #000;
font-family: 'Lobster';

}

.page-header h1{
    font-size: 50px;
    margin-top: 10px;


}

.page-header{

    background-color: aquamarine;
  
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}



.text-center{
    text-align: center;
}

.container{
 height: 100px;


}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}